@import "./config.css";
*{
    scroll-behavior: smooth;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    margin-bottom: 60px;
}
main h1{
    font-family: "WorkSans-ExtraBold";
    font-size: 3rem;
    margin-left: 30px;
    text-decoration: none;
    color: var(--azulSena);
}
.banner-img{
    width: 70%;
    height: 100%;
}
.span-fecha{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenido{
    display: flex;
    position: relative;
    width: 90%;
    margin: 0 auto;
}
/* Contenido de la izquierda */
.contenido-izquierda{
    width: 100%;
    height: 80%;
}
.atajos-rapidos{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.icon-link{
    width: 20px;
    margin-right: 10px;
}
.atajos-rapidos h1{
    font-size: 1.3rem;
    font-family:"WorkSans-Medium";
    color: var(--azulSena);
    margin-bottom: 10px;
}
.link-atajos_rapidos li{
    padding:10px 0;
    list-style:none ;
}
.link-atajos_rapidos li a{
    font-family:"WorkSans-Italic";
    font-size: 1.2rem;
    transition: all .3s;
    display: flex;
    align-content: center;
    cursor: pointer;
    color: black;
}
.link-atajos_rapidos li a:hover{
    color: var(--azulSena);
    transform: scale(1.1);
}

.title-fecha{
    padding: 15px;
    border-radius: 5px;
    background: rgba(248, 52, 52, 0.726);
}
.icon-title{
    display: flex;
    align-items: center;
}
.title-fecha h1{
    font-size: 1.2rem;
    font-family:"WorkSans-Medium";
}
.title-fecha p{
    margin-top: 10px;
    font-family:"WorkSans-Italic";
    font-size: 1rem;
    text-align: justify;
}
.title-fecha span{
    color: rgb(255, 255, 255);
    font-family:"WorkSans-Medium";
    font-size: 1.1rem;
    text-align: justify;
}
/* CONTENIDO DE LA DERECHA */
.componente{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(161, 160, 160, 0.699);
    margin:0 30px 0 30px;
    padding: 20px;
    border-radius: 10px;
}
.title-componentes{
    margin: 10px 0 30px 30px;
    align-items: center;
}
.title-componentes h1{
    font-size: 1.6rem;
    font-family:"WorkSans-Medium";
    color: var(--azulSena);
}
.title-comp{
    display: flex;
    align-items: center;
}
.icon-title{
    width: 40px;
    transition: all .4s;
}
.comp{
    display: flex;
    flex-direction: column;
}
.comp1 img{
    width: 35px;
}
.componente h1{
    font-size: 1.6rem;
    font-family:"WorkSans-Medium";
}
.componente p{
    font-family:"WorkSans-Italic";
    font-size: 1rem;
    margin: 10px 30px;
    text-align: justify;
}
.comp-titulo{
    display: flex;
    align-items: center;
}
.subcomponentes{
    background: var(--fondopanel);
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 30px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 0 0 10px 10px;
}

.subcomponentes h1{
    font-size: 1.3rem;
    font-family:"WorkSans-Medium";
}
.subcomponentes p{
    font-family:"WorkSans-Italic";
    font-size: 1rem;
    text-align: justify;
}
.icon{
    width: 30px;
    margin-right: 5px;
}
.componente2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(161, 160, 160, 0.699);
    margin:30px 30px 0 30px;
    padding: 20px;
    border-radius: 10px;
}
.componente2 h1{
    font-size: 1.6rem;
    font-family:"WorkSans-Medium";
}
.componente2 p{
    font-family:"WorkSans-Italic";
    font-size: 1rem;
    margin:10px 30px;
    text-align: justify;
}
/* ESTILOS PARA EL APARTADO INFO Y NOTA */
.info{
    display: flex;
    align-content: center;
    justify-content: center;
    background: var(--verdeSena);
    clip-path: polygon(0% 0%, 95% 0, 100% 50%, 95% 100%, 0% 100%);
    margin: 50px 400px 50px 0;
    transition: all .5s;
}
.info:hover{
    transform: scale(1.1);
}
.nota{
    width: 80%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
}
.nota h1{
    font-size: 1.5rem;
    font-family:"WorkSans-Medium";
    color: var(--azulSena);
    margin-top: 10px;
}
.nota p{
    margin-top: 5px;
    font-family:"WorkSans-Italic";
    font-size: 1rem;
    margin-left: 50px;
    text-align: justify;
}
/* SECCION DE SEMILLEROS */
.title-semilleros{
    margin-left: 400px;
    padding: 30px;
    background:var(--azulSena);
    clip-path: polygon(3% 0, 100% 0%, 100% 100%, 3% 100%, 0% 50%);
    transition: all .5s;
}
.title-semilleros:hover{
    transform: scale(1.1);
}
.title-semilleros h1{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 70px;
    color: var(--colorwhite);
    font-size: 1.6rem;
    font-family:"WorkSans-Medium";
}
.cont_semillero{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    margin:60px 30px 80px 30px ;
}
.semillero img{
    width: 400px;
}
.semillero{
    border: 1px solid rgba(161, 160, 160, 0.699);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 20px 0;
    margin:0 20px;
}
.semillero h1{
    font-family:"WorkSans-Medium";
    color: var(--azulSena);
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.semillero p, .semillero pre{
    font-family:"WorkSans-Italic";
    font-size: 1.2rem;
    text-align: justify;
}
.semillero pre{
    padding:0 20px;
}
/* SECCION PARA EL CRONOGRAMA */
.title_cronograma{
    padding: 30px;
    margin-right:400px;
    background:var(--azulSena);
    clip-path: polygon(0% 0%, 97% 0, 100% 50%, 97% 100%, 0% 100%);
    transition: all .5s;
}
.title_cronograma h1{
    margin-left: 100px;
    font-size: 1.6rem;
    font-family:"WorkSans-Medium";
    color:var(--colorwhite);
}
.title_cronograma:hover{
    transform: scale(1.1);
}
.icon_cronograma{
    width: 15px;
    height: 20px;
    margin-right: 10px;
    filter: invert(100%);
}
.cont_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(57,169,0);
    background: linear-gradient(90deg, rgba(57,169,0,1) 0%, rgba(57,169,0,0.48082983193277307) 100%);
    padding: 30px;
    margin:60px 30px 60px 30px;
    border-radius:5px ;
}
.img_cronograma img{   
    height: 300px;
    border-radius: 0 20px 0 20px;
}
.text_cronograma h1{
    font-family:"WorkSans-Medium";
    color: var(--azulSena);
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #fff;
}
.text_cronograma ul li{
    list-style: none;
    margin-bottom: 10px;
    display: flex;
    align-content: center;
    font-family:"WorkSans-Italic";
    font-size: 1.1rem;
    color: #fff;
}
.text_cronograma ul li:last-of-type{
    max-width: 80%;
}
/* BOTON SPAN DE REGISTRO */
.span-registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
}
.span-registro h1{
    font-family:"WorkSans-Medium";
    color: var(--azulSena);
    margin-bottom: 10px;
}
.link_span-registro{
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px 50px;
    border-radius: 5px;
    background: var(--azulSena);
    transition: .2s ease-in-out all;
    text-decoration: none;
    position: relative;
    font-family:"WorkSans-Medium";
    color: white;
    font-size: 1.2rem;
}
.link_span-registro:hover{
    background: #39A900;
}
@media(max-width:1440px){
    .banner-img{
        width: 90%;
    }
    /* Contenido de la izquierda */
    .contenido{
        flex-direction: column;
    }
    .icon-link{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    .link-atajos_rapidos{
        display: flex;
        justify-content: center;
    }
    .link-atajos_rapidos li a{
        padding: 10px 30px;
    }
    .atajos-rapidos{
        margin-bottom: 10px;
    }
    .link_span-registro{
        background: #39A900;
        padding: 20px 100px;
    }
    .contenido-izquierda{
        height: 100%;
    }
    .icon-link{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    .link-atajos_rapidos li a{
        font-size: 1.1rem;

    }
    /* ESTILOS PARA EL APARTADO INFO Y NOTA */
    .info{
        margin: 50px 80px 50px 0;
    }
    /* SECCION DE SEMILLEROS */
    .title-semilleros{
        margin-left: 80px;
    }
    .title-semilleros h1{
        margin-right: 70px;
        font-size: 1.4rem;
    }
    .semillero img{
        width: 300px;
    }
    .semillero{
        margin:20px 5px;
    }
    .title_cronograma{
        margin-right:80px ;
    }

}

@media(max-width:768px){
    .banner-img{
        width: 95%;
    }
    /* ESTILOS PARA EL APARTADO INFO Y NOTA */
    .info{
        margin: 50px 80px 50px 0;
    }
    /* SECCION DE SEMILLEROS */
    .title-semilleros{
        margin-left: 80px;
    }
    .title-semilleros h1{
        margin-right: 70px;
        font-size: 1.2rem;
    }
    .comp p, .subcomponentes p, .comp2 p, .nota p{
        font-size: 0.9rem;
    }
    .semillero img{
        width: 300px;
    }
    .semillero{
        margin:20px 5px;
    }
    .semillero p, .semillero pre{
        font-size: 1rem;
    }
    .title_cronograma{
        margin-right:80px ;
    }
    .title_cronograma h1{
        font-size: 1.5rem;
    }
    .cont_text{
        flex-direction: column;
    }
    .text_cronograma h1{
        font-size: 1.4rem;
    }
    .text_cronograma ul li{
        font-size: 1rem;
    }
    .icon_cronograma{
        width: 10px;
        height: 15px;
    }
    .img_cronograma{
        margin-top: 20px;
    }
    .text_cronograma ul li:last-of-type{
        max-width: 100%;
    }
}
@media(max-width:390px){
    /* Contenido de la izquierda */
    .icon-link{
        width: 10px;
        height: 10px;
        margin-right: 10px;
    }
    .link-atajos_rapidos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .link-atajos_rapidos li a{
        padding: 10px 30px;
    }
    .atajos-rapidos{
        margin-bottom: 10px;
    }
    .link_span-registro{
        background: #39A900;
        padding: 20px 80px;
    }
    .contenido-izquierda{
        height: 100%;
    }
    .icon-link{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    .link-atajos_rapidos li a{
        font-size: 1.1rem;

    }
    /* ESTILOS PARA EL APARTADO INFO Y NOTA */
    .info{
        clip-path:none;
        margin-top:20px;
        width: 100%;
    }
    .nota p{
        margin: 0;
    }
    .comp-titulo h1{
        font-size: 1.4rem;
    }
    /* SECCION DE SEMILLEROS */
    .cont_semilleros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title-semilleros{
        clip-path:none;
        margin: 0 auto;
    }
    .title-semilleros h1{
        font-size: 1.2rem;
        text-align: center;
        margin: 0;
    }
    .semillero img{
        width: 300px;
    }
    .semillero{
        width: 350px;
    }
    .semillero p , .semillero pre{
        font-size: 1rem;
    }
    .title_cronograma{
        clip-path:none;
        margin: 0;
        text-align: center;
    }
    .title_cronograma h1{
        margin: 0;
    }
    .cont_text{
        background: var(--verdeSena);
    }
    .text_cronograma h1{
        margin: 0;
        font-size: 1.2rem;
        margin-bottom: 15px;
    }
    .img_cronograma{
        display:none ;
    }
}
