@import "./config.css";
main{
    
}

.cont1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    gap: .5rem;
    align-items: center;
    flex-direction: column;
}
.cont1 .vision, .cont1 .mision{
    width: 20rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #fcfcfcb0;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
}
.titulo{
    color:var(--azulSena);
    font-family: "WorkSans-ExtraBold";
}
.text{
    font-family:"WorkSans-Medium";
    font-size: 1.2rem;
    align-items: center;
}