@import "config.css";
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    background: rgb(0,50,77);
background: linear-gradient(0deg, rgba(0,50,77,1) 0%, rgba(0,50,77,0.8270716292134832) 100%);
}

.main h1{
    font-family:"WorkSans-ExtraBold";
    font-size: 2.5rem;
    color: var(--colorwhite);
    margin-bottom: 20px;
}
.main p{
    font-family:"WorkSans-Medium";
    font-size: 1.3rem;
    color: var(--colorwhite);
}
.submenu-nav{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    padding: 5px 0;
    background: #38a900ce;
    margin-bottom:60px ;
}
.submenu-nav a{
    font-family:"WorkSans-Italic";
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}
.submenu-nav a:hover{
    color: white;
}
/*Estilos para el formulario*/
.categorias{
    margin:4rem 0;
}
.categorias_div{
    display: flex;
    margin: auto;
    flex-direction: column;
    border: 1px solid rgba(161, 160, 160, 0.699);
    border-radius: 5px;
    width: 85%;
}
.title-categorias{
    display: flex;
    justify-content: space-between;
    background: #c5e5f465;
    padding: 20px;
    margin-bottom: 20px;
}
.title-categorias h1{
    font-family:"WorkSans-Medium";
    font-size: 1.3rem;

}
.descargar-formato{
    display: flex;
    justify-content: center;
    align-items: center;
}
.descargar-formato p{
    font-family:"WorkSans-Italic";
    margin-right: 15px;
}
.descargar-formato button{
    padding: 10px 30px;
    background: #39A900;
    border: none;
    border-radius: 5px;
    font-family:"WorkSans-Medium";
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    transition: .4s ease-in-out all;
}
.icon-descarga{
    width: 20px;
    filter: invert(100%);
}
.descargar-formato button:hover{
    transform: scale(1.1);
}
.form{
    display: flex;
    flex-direction: column;
}
.button-registro{
    padding: 10px 0;
    background:var(--azulSena);
    border: none;
    border-radius: 5px;
    font-family:"WorkSans-Medium";
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.button-registro:hover{
    background: #39a900;
}

/*Estilos para los input*/
.coolinput{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-bottom: 20px;
    margin: auto;
}

.coolinput label.text {
    font-size: 1.1rem;
    color: #39A900;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    border: 2px #39A900 solid;
    background: #E8F5FB;
    width: fit-content;
    font-family:"WorkSans-Italic";
}

.coolinput input[type=text].input ,.coolinput input[type=email].input, .select {
    padding: 11px 10px;
    font-size: 1rem;
    border: 2px #39A900 solid;
    font-family:"WorkSans-Medium";
    border-radius: 5px;
    background: #F3F4F4;
}
.select{
    outline: none;
}
.coolinput input[type=text].input:focus, .coolinput input[type=email].input:focus{
    outline: none;
}
/*Fin de estilos input*/

/*estilo para el input tipo file*/
.form-title {
    font-size: 1.1rem;
    color: #39A900;
    font-family:"WorkSans-Medium";
}
.drop-container {
    background-color: #fff;
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 2.1875rem;
    border-radius: 10px;
    border: 2px dashed rgb(171, 202, 255);
    font-size: 1.1rem;
    font-family:"WorkSans-Medium";
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}
.drop-container:hover {
    background: #E8F5FB;
    border-color: rgba(17, 17, 17, 0.616);
}
.drop-title {
    font-size: 1.1rem;
    color: black;
    font-family:"WorkSans-Medium";
    text-align: center;
    transition: color .2s ease-in-out;
}
#file-input {
    width: 600px;
    max-width: 100%;
    color: #444;
    padding: 2px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.288);
}
#file-input::file-selector-button {
    margin-right: 20px;
    border: none;
    background: rgb(61,186,196);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

#file-input::file-selector-button:hover {
    background: #39A900;
}
/*fin de estilo para el input tipo file*/
/*Inicio de estilo para el apartado de ponentes*/
.div-ponente{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-ponente{
    width:90%;
    margin: 7px;
}
/*mensajes de Error*/
.errores-archivos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.error-archivo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgb(204,119,102);
    border-radius: 5px;
}
.error-archivo h1{
    font-family:"WorkSans-Medium";
    margin-right: 20px;
    font-size: 1.1rem;
    color: var(--colorwhite);
}
.error-archivo p{
    font-family:"WorkSans-Italic";
    font-size: 1rem;
}
.message-register, .message-register-error{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.message-register{
    padding: 15px;
    border-radius: 5px;
    background: var(--verdeSena);
}
.message-register p{
    font-family:"WorkSans-Italic";
    font-size: 1.3rem;
    color: white;
}
.message-register span{
    font-family:"WorkSans-Medium";
    font-size: 1.5rem;
}
@media(max-width:1024px){
    .categorias_div{
        width: 90%;
    }
    .title-categorias{
        flex-direction: column;
    }
}
@media(max-width:768px){
    .main h1{
        font-size: 2rem;
        text-align: justify;
        margin-bottom: 20px;
    }
    .main p{
        font-size: 1.2rem;
    }
    .submenu-nav{
        padding: 10px 0;
    }
    .submenu-nav a{
        font-size: 1.2rem;
        text-decoration: underline;
        
    }
    .descargar-formato button{
        padding: 10px 20px;
        font-size: 1.1rem;
    }
    .icon-descarga{
        width: 18px;
    }
    .form-title{
        font-size: 1rem;
    }
}

@media(max-width:390px){
    .main h1{
        font-size: 1.5rem;
    }
    .main p{
        font-size: 1rem;
    }
    .submenu-nav{
        flex-direction: column;
        padding: 10px 0;
    }
    .submenu-nav a{
        padding: 10px 0;
        
    }
    .title-categorias h1{
        margin-bottom: 15px;
    }
    .descargar-formato{
        flex-direction: column;
    }
    .descargar-formato p{
        margin: 0;
    }
    .descargar-formato button{
        margin-top: 15px;
        width: 100%;
        padding: 12px;
        font-size: 1.1rem;
    }
    .coolinput label.text {
        font-size: 1rem;
    }
    
    .coolinput input[type=text].input ,.coolinput input[type=email].input, .select {
        padding: 10px 10px;
        font-size: 0.9rem;

    }
    
}