@import "./config.css";
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;
}
.titulo h1{
    font-family: "WorkSans-ExtraBold";
    font-size: 3rem;
    margin-left: 30px;
    text-decoration: none;
    color: var(--colorwhite);
    border-radius: 10px;
    margin-bottom: 10px;
}
.subtitulo p{
    font-family:"WorkSans-Medium";
    font-size: 1.2rem;
    color:var(--colorwhite);
}
.content{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    background:var(--Fondopanel) ;
    padding: 40px 30px;
    margin-top: 200px;
    border: 1px solid #e0dede;
}
.semillero {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    background: #fff;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    transition: all .3s;
    cursor: pointer;
}
.semillero:hover{
    transform: scale(1.1);
    -webkit-box-shadow: 0px -5px 20px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -5px 20px 5px rgba(0,0,0,0.75);
    box-shadow: 0px -5px 20px 5px rgba(0,0,0,0.75);
}

.img-semillero{
    height: 300px;
}
.title-semillero{
    font-family: "WorkSans-ExtraBold";
    margin-bottom: 10px;
    color: var(--azulSena);
}
.text-semillero{
    font-family:"WorkSans-Medium";
    margin-bottom: 10px;
}

