<IfModule mod_rewrite.c>
    RewriteEngine on
    ErrorDocument 404 http://localhost/MussaCafec/error/

    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f

    RewriteRule ^(.*)/(.*) index.php?vista=$1
</IfModule>